


<h1>All Comments</h1>

<table>
  <thead>
    <tr>
      <td>Comments</td>
      <td>Products</td>
    </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.comment %></td>
      <td><%= comment.product_id%></td>
    </tr>
  <% end %>
  </tbody>

</table>